@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}

:root {
  --black-color: #000000;
}

img {
  display: block;
  width: 100%;
}

.container__html {
  max-width: 1200px;
  margin: auto;
}

html {
  background-color: #dcdcdc;
}

body {
  border-radius: 50px;
  background-color: #fff;
  margin: 30px 10px 0 10px;
}
