* {
  box-sizing: border-box;
}

.fixed-overlay {
  display: flex;
  justify-content: center;
  visibility: hidden;
  position: fixed;
  z-index: 9999;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.fixed-overlay__modal {
  text-align: center;
  white-space: nowrap;
}

.fixed-overlay__modal::after {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  content: "";
}

.modal {
  display: inline-block;
  vertical-align: middle;
  margin-top: 50px;
}

.modal_container {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  white-space: normal;
  background-color: #f4f4f4;
  color: #000;
}

.invalid {
  border: 2px solid red;
}

.valid {
  border: 2px solid #4ce0b3;
}

.error_output {
  color: red;
}

button.send__modal__button {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 0.5em 1em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transition: transform 0.15s;
  transform-style: preserve-3d;
}

button.send__modal__button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow:
    0 0 0 2px #b18597,
    0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition:
    transform 0.15s,
    box-shadow 0.15s;
}

button.send__modal__button:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}

button.send__modal__button:hover::before {
  box-shadow:
    0 0 0 2px #b18597,
    0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}

button.send__modal__button:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}

button.send__modal__button:active::before {
  box-shadow:
    0 0 0 2px #b18597,
    0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}

.button__container {
  margin: 0 25%;
}

.close__img {
  width: 30px;
  height: 30px;
}

.close__img:hover {
  background-color: #ffe9e9;
  border-radius: 5px;
  box-shadow:
    0 10px 10px 5px rgba(16, 6, 6, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 375px) {
  .input_group,
  .close__button {
    margin-bottom: 10px;
  }

  #fname,
  #lname {
    height: 25px;
    padding: 5px;
    margin: 8px 0;
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  .input_group,
  .close__button {
    margin-bottom: 5px;
    align-items: end;
  }
}
